Exemplar#1:

*** Input ***

Expert Observation #0: I can heat egg with microwave, I can cool egg with fridge.
Expert Observation #1: None
Expert Observation #2: I can cool bowel with fridge
Past Summary: None

*** Output ***

I can heat items with microwave. I can cool items with fridge.

Exemplar#2:

*** Input ***

Expert Observation #0: None
Expert Observation #1: I can clean soapbar with sinkbasin.
Expert Observation #2: I can cool bread with fridge.
Past Summary: I can heat bread with microwave.

*** Output ***

I can heat items with microwave. I can clean items with sinkbasin. I can cool items with fridge.
